doctype html
html(lang='en')
  head
    meta(charset='utf8')
    meta(name='viewport' content='width=device-width')
    title jian
    link(rel='stylesheet' type="text/css" href="css/index.css")
    link(rel="stylesheet" type="text/css" href="awesome/css/font-awesome.min.css")
  body
    .container
      .sidebar
        ul.top
          li
            a(href="###")
              i(class="fa fa-fw") 简
          li.top-firstLi
            a(href="###")
              i(class="fa fa-home" aria-hidden="true")
              span 首页
          li(data-tooltip='专题')
            a(href="###")
              i(class="fa fa-th" aria-hidden="true")
              span 专题
          li(data-tooltip='随友圈')
            a(href="###")
              i(class="fa fa-users" aria-hidden="true")
              span 随友圈
          li(data-tooltip='写文章')
            a(href="###")
              i(class="fa fa-pencil-square-o" aria-hidden="true")
              span 写文章
          li
            a(href="###")
              i(class="fa fa-mobile" aria-hidden="true")
              span 下载手机应用
        ul.bottom
          li(data-tooltip='我的主页')
            a(href="###")
              i(class="fa fa-user" aria-hidden="true")
              span 我的主页
          li(data-tooltip='我的收藏')
            a(href="###")
              i(class="fa fa-bookmark" aria-hidden="true")
              span 我的收藏
          li(data-tooltip='提醒')
            a(href="###")
              i(class="fa fa-bell" aria-hidden="true")
              span 提醒
          li(data-tooltip='简信')
            a(href="###")
              i(class="fa fa-envelope-o" aria-hidden="true")
              span 简信
          li
            a(href="###")
              i(class="fa fa-font" aria-hidden="true")
              span 显示模式
          li
            a(href="###")
              i(class="fa fa-cogs" aria-hidden="true")
              span 设置
          li
            a(href="###")
              i(class="fa fa-sign-out" aria-hidden="true")
              span 退出登录
      .picture
        a(href="###")
          i i
          span Photo by picjumbo
      .content
        .left
        .right
          .right-wrap
            a(href="###")
              img(src="img/user.jpg" alt="user")