@charset "utf-8";
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: '微软雅黑';
  box-sizing: border-box;
}
html *,
body *,
html *::before,
body *::before,
html *::after,
body *::after {
  box-sizing: inherit;
}
/* 首页 */
.container {
  display: flex;
  height: 100%;
  /* 左侧菜单栏 */
  /* 中间图片区域 */
  /* 右侧内容区 */
}
.container > * {
  flex-shrink: 0;
}
.container .sidebar {
  width: 140px;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .sidebar .top li:first-child {
  display: none;
}
.container .sidebar .top li:first-child a {
  background-color: #E78170;
  color: #fff;
}
.container .sidebar .top,
.container .sidebar .bottom {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container .sidebar .top li,
.container .sidebar .bottom li {
  position: relative;
  height: 44px;
}
.container .sidebar .top li:hover[data-tooltip]::before,
.container .sidebar .bottom li:hover[data-tooltip]::before {
  content: '';
  border: 5px solid transparent;
  border-left-width: 0;
  border-right-color: #000000;
  position: absolute;
  left: 100%;
  top: 50%;
  /* 绝对定位，到父元素的一半 */
  transform: translate(0, -50%);
  /* 定位元素的高度的一半 */
  z-index: 5;
  margin: 2px;
}
.container .sidebar .top li:hover[data-tooltip]::after,
.container .sidebar .bottom li:hover[data-tooltip]::after {
  position: absolute;
  content: attr(data-tooltip);
  display: inline-block;
  background-color: #000000;
  padding: 6px 8px;
  border-radius: 5px;
  font-size: 12px;
  left: 100%;
  top: 50%;
  transform: translate(0, -45%);
  margin-left: 7px;
  white-space: nowrap;
  color: #fff;
  z-index: 5;
}
.container .sidebar .top li a,
.container .sidebar .bottom li a {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  width: 140px;
  text-decoration: none;
  color: #999;
  padding-left: 15px;
}
.container .sidebar .top li a i,
.container .sidebar .bottom li a i {
  margin-right: 15px;
  font-size: 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.container .sidebar .top li a span,
.container .sidebar .bottom li a span {
  font-size: 12px;
}
.container .sidebar .top li a:hover,
.container .sidebar .bottom li a:hover {
  color: white;
  background-color: #F49484;
}
.container .sidebar .top li.top-firstLi a,
.container .sidebar .bottom li.top-firstLi a {
  background-color: #E78170;
  color: #fff;
}
.container .picture {
  flex-basic: 100px;
  flex-grow: 1;
  background-image: url('../img/center-picture.jpg');
  background-position: center;
  /* 背景图片在中心位置 */
  background-size: cover;
  /* 背景图片覆盖容器 */
  position: relative;
}
.container .picture a {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
}
.container .picture a i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: black;
  font-size: 10px;
  color: white;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-weight: bold;
}
.container .picture a span {
  display: inline-block;
  width: 120px;
  background-color: black;
  position: absolute;
  right: 20px;
  bottom: 11px;
  opacity: 0;
  border-radius: 8px 0 0 8px;
  padding-left: 5px;
  padding-bottom: 2px;
  transition: all 0.5s linear;
}
.container .picture a:hover span {
  right: 25px;
  opacity: 1;
}
.container .content {
  flex-basic: 400px;
  flex-grow: 1.5;
  overflow-y: scroll;
  display: flex;
  height: 100%;
}
.container .content .left {
  flex-grow: 8;
  box-sizing: border-box;
  flex-basis: 0;
}
.container .content .left .header {
  position: fixed;
  width: 55%;
  background: white;
  z-index: 10;
}
.container .content .left .header ul {
  list-style: none;
  font-size: 0;
  box-shadow: 0 2px #D9D9D9;
  padding-left: 25px;
}
.container .content .left .header ul li {
  font-size: 14px;
  display: inline-block;
  padding: 10px;
  height: 100%;
}
.container .content .left .header ul li.cog:hover,
.container .content .left .header ul li.search:hover {
  box-shadow: none;
  background-color: transparent;
}
.container .content .left .header ul li.search {
  float: right;
}
.container .content .left .header ul li.search div {
  border: 1px solid #D3D3D3;
  padding: 5px;
  border-radius: 100px;
  position: relative;
  top: -5px;
}
.container .content .left .header ul li.search div form input {
  border: none;
  outline: 0;
  padding-left: 5px;
}
.container .content .left .header ul li.search div button {
  position: absolute;
  right: 5px;
  top: 7px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.container .content .left .header ul li.cog {
  position: relative;
}
.container .content .left .header ul li.cog a {
  color: #D8D8D8;
}
.container .content .left .header ul li.cog:hover[data-tooltip]::before {
  content: '';
  border: 5px solid transparent;
  border-left-width: 0;
  border-right-color: #000000;
  position: absolute;
  left: 100%;
  top: 50%;
  /* 绝对定位，到父元素的一半 */
  transform: translate(0, -50%);
  /* 定位元素的高度的一半 */
  z-index: 5;
  margin: 2px;
}
.container .content .left .header ul li.cog:hover[data-tooltip]::after {
  position: absolute;
  content: attr(data-tooltip);
  display: inline-block;
  background-color: #000000;
  padding: 6px 8px;
  border-radius: 5px;
  font-size: 12px;
  left: 100%;
  top: 50%;
  transform: translate(0, -45%);
  margin-left: 7px;
  white-space: nowrap;
  color: #fff;
  z-index: 5;
}
.container .content .left .header ul li a {
  text-decoration: none;
  color: #999;
  display: inline-block;
}
.container .content .left .header ul li:hover {
  background-color: #eee;
  box-shadow: 0 2px #555;
}
.container .content .left .header ul li:hover a {
  color: #555;
}
.container .content .left .content-center {
  height: 60px;
  width: 100%;
  margin-top: 42px;
}
.container .content .left .content-center .first-content {
  list-style: none;
  font-size: 0;
  line-height: 60px;
  margin-left: -15px;
  clear: both;
  width: 100%;
  height: 60px;
}
.container .content .left .content-center .first-content li {
  font-size: 14px;
  float: left;
}
.container .content .left .content-center .first-content li a {
  display: inline-block;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  color: #555;
  text-decoration: none;
  border: 1px solid #d9d9d9;
  text-align: center;
  border-radius: 10px;
  margin-right: 10px;
}
.container .content .left .content-center .first-content li a:hover {
  color: #000;
}
.container .content .left .content-center .first-content li:first-child a {
  background-color: #E78170;
  color: white;
}
.container .content .left .content-center .first-content li:first-child a:hover {
  background-color: #F49484;
}
.container .content .left .content-center .first-content li:last-child a {
  margin-right: 0;
}
.container .content .left .main-content {
  margin-top: 10px;
}
.container .content .left .main-content .last-content {
  list-style: none;
  margin-left: -15px;
  font-size: 0;
}
.container .content .left .main-content .last-content li {
  font-size: 14px;
  border-bottom: 1px dashed #D9D9D9;
  margin-top: 10px;
}
.container .content .left .main-content .last-content li div {
  position: relative;
}
.container .content .left .main-content .last-content li div .author {
  clear: both;
}
.container .content .left .main-content .last-content li div .author a {
  text-decoration: none;
  color: #4094C7;
  font-size: 12px;
}
.container .content .left .main-content .last-content li div .author a:hover {
  color: #075B8D;
}
.container .content .left .main-content .last-content li div .author span {
  color: #717171;
  margin-left: 5px;
  font-size: 12px;
}
.container .content .left .main-content .last-content li div h3 a {
  text-decoration: none;
  color: #555;
}
.container .content .left .main-content .last-content li div h3 a:hover {
  color: #000;
}
.container .content .left .main-content .last-content li div .info a {
  text-decoration: none;
  color: #999;
  font-size: 12px;
  margin-bottom: 10px;
  display: inline-block;
}
.container .content .left .main-content .last-content li div .info a:hover {
  color: #717171;
}
.container .content .left .main-content .last-content li div .info span {
  font-size: 12px;
  color: #999;
  margin-bottom: 10px;
  display: inline-block;
}
.container .content .left .main-content .last-content li div .info span:hover {
  color: #717171;
}
.container .content .left .main-content .last-content li div .content-img {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 10px;
  top: 5px;
}
.container .content .left .main-content .last-content li div .content-img a img {
  width: 100%;
  height: auto;
  border: 1px solid #eee;
  border-radius: 5px;
}
.container .content .right {
  flex-grow: 2;
  flex-basis: 0;
  height: 100%;
  position: relative;
}
.container .content .right .right-wrap {
  height: 40px;
  width: 12%;
  position: fixed;
}
.container .content .right .right-wrap a {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 17px;
  overflow: hidden;
  float: right;
  margin-right: 10%;
  margin-top: 3px;
}
.container .content .right .right-wrap a img {
  width: 100%;
  height: auto;
}
@media (max-width: 1000px) {
  .container .sidebar {
    width: 45px;
  }
  .container .sidebar .top li:first-child {
    display: block;
  }
  .container .sidebar .top .top-firstLi {
    display: none;
  }
}
@media (max-width: 768px) {
  .container .sidebar {
    display: none;
  }
  .container .picture {
    display: none;
  }
}
