html,body{
    margin:0;
    padding: 0;
    height: 100%;
    display: flex;
}
body{
    width: 100%;
}
.slidebar{
    width: 170px;
    background:#2A2A2A;
}
.hero{
    flex-basis: 100px;
    flex-grow: 1;
    background: url("img/jianshu.jpg") no-repeat 0px -95px;
    background-size: 100%;
}

.content{
    flex-basis: 300px;
    flex-grow: 3;
}
@media (max-width:1500px) {
    .slidebar{
        width:45px;
    }
}
@media (max-width: 768px) {
    .slidebar,.content{
        display: none;
    }
}
