!DOCTYPE(html="")
    html(ng-app="")
        head
            script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js")
            link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet", type="text/css")
                link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css", rel="stylesheet", type="text/css")
                    link(rel="stylesheet", href="jisnshu.css")
                        meta(charset="utf-8")
                            meta(name="viewport", content="widthdevice-width")
                                title
                                    | 简书仿写
                                body
                                    section(class="jianshu")
                                        aside
                                            ul(class="top-menu")
                                                //(li="")
                                                a(href="")
                                                    i(class="fa fa-fw")
                                                        | 简
                                                    span
                                                | --

                                                li
                                                    a(href="")
                                                        i(class="fa fa-fw")
                                                            | 简
                                                        i(class="fa fa-fw fa-home")
                                                        span
                                                            | 首页
                                                li(data-tooltip="专题")
                                                    a(href="")
                                                        i(class="fa fa-fw fa-th")
                                                        span
                                                            | 专题
                                                li(data-tooltip="简友圈")
                                                    a(href="")
                                                        i(class="fa fa-fw fa-user")
                                                        span
                                                            | 003
                                                li(data-tooltip="简友圈圈圈")
                                                    a(href="")
                                                        i(class="fa fa-fw fa-pencil")
                                                        span
                                                            | 004
                                                li
                                                    a(href="")
                                                        i(class="fa fa-fw fa-mobile")
                                                        span
                                                            | 005
                                                ul(class="bottom-menu")
                                                    li
                                                        a(href="")
                                                            i(class="fa fa-fw fa-star")
                                                            span
                                                                | 001
                                                    li
                                                        a(href="")
                                                            i(class="fa fa-fw fa-star")
                                                            span
                                                                | 002
                                                    li
                                                        a(href="")
                                                            i(class="fa fa-fw fa-star")
                                                            span
                                                                | 003
                                                    li
                                                        a(href="")
                                                            i(class="fa fa-fw fa-star")
                                                            span
                                                                | 004
                                                    li
                                                        a(href="")
                                                            i(class="fa fa-fw fa-star")
                                                            span
                                                                | 005
                                                div(class="hero")
                                                    a(class="copywrite-info")
                                                        span
                                                            | i
                                                        span(class="author")
                                                            | Photo by unsplash
                                                div(class="content")
                                                    main
                                                        header
                                                            ul
                                                                li(class="active")
                                                                    | 发现
                                                                li
                                                                    | 关注
                                                                li
                                                                    | 时光机
                                                                li
                                                                    | 2015 精选
                                                                li(class="cog")
                                                                    i(class="fa fa-cog")
                                                                li(class="search")
                                                                    div
                                                                        form(action="https://www.baidu.com/s", target="bds")
                                                                            input(type="text", name="wd")
                                                                            button
                                                                                i(class="fa fa-search")
                                                                            div(class="tags")
                                                                            div(class="post-list")
                                                                                ul
                                                                                    li(ng-repeat="x in [1,2,3,4,5]")
                                                                                        div(class="auth-info")
                                                                                            a(href="", class="author")
                                                                                                | 我我我
                                                                                            | ・
                                                                                            span
                                                                                                | 大约在冬季
                                                                                        h1(class="title")
                                                                                            | 那些年，我做过的奇葩兼职――绝不放过一点小钱
                                                                                        div(class="meta")
                                                                                            span
                                                                                                | 阅读 555
                                                                                            | ・
                                                                                            span
                                                                                                | 评论 98
                                                                                            | ・
                                                                                            span
                                                                                                | 喜欢 68
                                                                                        img(src="http://upload-images.jianshu.io/upload_images/2388825-865d77807731512d.JPG?imageMogr2/auto-orient/strip7CimageView2/1/w/300/h/300", alt="")
                                                                                            footer
                                                                                            div